<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body> 
    <div class=" w-full h-screen bg-zinc-900 p-10 text-white" >
        <div class="w-50 h-20"><a class="bg-blue-500 text-white" href="/"><==CreateUser</a></div>
        <h3 class="text-3xl m-10" >Login Your Account</h3>
        <form action="/login" method="post" >
            <input  class="px-3 py-2 rounded-md bg-transpernt bg-black " type="text" name="email"  placeholder="email">
            <input  class="px-3 py-2 rounded-md bg-transpernt bg-black " type="password" name="password"  placeholder="password">
            <input  class="px-5 py-2 bg-blue-500 rounded-md" type="submit" value="Login User">
        </form>


    </div>
    
</body>
</html>